/*-- scss:defaults --*/

// Remove space between navbar and image
img {
    margin-top: -5rem; 
}
@media (max-width: 870px) {
  img {
    margin-top: -1rem;   /* or try -1rem, etc, for minor overlap */
  }
}

/* Prevent navbar collapsing */
.navbar-collapse {
  display: flex !important;
  flex-wrap: wrap !important;
}

/* Always show navbar toggler as hidden */
.navbar-toggler {
  display: none !important;
}

/* Allow links to shrink and wrap */
.navbar-nav > li > a {
  white-space: normal;
  font-size: 0.8rem; /* smaller font */
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}


// Change link colors
body a {
    color: #aebfca; 
}
body a:hover {
    color: #aebfca;
}
body a:visited {
    color: #c0d6e3; 
}
