/* css styles */


// Adjust navbar height using vertical padding
.vertical-navbar {
    .nav-link {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

// Adjust the font size for the navbar brand
.navbar-brand {
    font-size: 15px; // Change this value to your desired size
}

// Adjust the font size for the navbar links
.navbar-nav .nav-link {
    font-size: 15px; // Change this value to your desired size
}